*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: skyblue;
}

.app{
    width: 100%;
    max-width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    padding: 25px;
}
.inputfield input{
    width: 350px !important;
    height: 6vh;
   
}


/* .list li{
    list-style: none;
    line-height: 45px;
} */
button{
    height:100%;
    background:transparent;
    color:#fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 30px;
    margin-right: 4px;
}

ul{
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0 0;
}
li{
    padding:5px;
    margin:0;
    list-style: none;
}
li +li{
    border-top: 1px solid #ccc;
}

span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	color: white;
	text-align: center; 
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1.0;

}